<section id="area">
    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-lg-10 col-lg-offset-1">

                <div id="EditorSec">
                    <h5>WRIGHT HERE</h5>
                    <textarea class="form-control" ng-model="frm.text" ng-change="SetText()"></textarea>
                </div>

                <h5>PREVIEW</h5>
                <div id="Preview" ng-bind-html="hh"></div>

            </div>
        </div>            

    </div>
</section>

<footer>
    <div class="container text-center">
        <p>Designed by <a href="http://www.sujeetjaiswara.com" target="_blank">Sujeet Jaiswara</a></p>
    </div>
</footer>